<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Manager Login</title>



<!-- Bootstrap core CSS -->
<link href="styles/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link
	href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="styles/style.css" rel="stylesheet">

</head>

<body>

	<h1 class="site-heading text-center text-white d-none d-lg-block">
		<span class="site-heading-upper text-primary mb-3">Hello
			Employee!</span>
	</h1>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
		<div class="container">
			<a
				class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none"
				href="#">Info</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item active px-lg-4"><a
						class="nav-link text-uppercase text-expanded"
						href="managerProfile">Homepage</a> <span class="sr-only">(current)</span>
					</li>
					<li id = "employeesNav"class="nav-item px-lg-4"><a
						class="nav-link text-uppercase text-expanded"
						href="managersEmployees">Employees</a></li>
					<li class="nav-item px-lg-4"><a
						class="nav-link text-uppercase text-expanded"
						href="allReimbursements">My Reimbursements</a></li>
					<li class="nav-item px-lg-4"><a
						class="nav-link text-uppercase text-expanded" href="reimbursement">New
							Reimbursement</a></li>
					<li id="registerNav" class="nav-item px-lg-4"><a
						class="nav-link text-uppercase text-expanded"
						href="register">Register</a></li>
					<li class="nav-item px-lg-4"><a
						class="nav-link text-uppercase text-expanded" href="logout">Logout</a></li>

				</ul>
			</div>
		</div>
	</nav>

	<section class="page-section cta">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 mx-auto">
					<div class="cta-inner text-center rounded">
						<h2 class="section-heading mb-5">
							<span class="section-heading-upper">Information</span>
						</h2>
						<ul class="list-unstyled list-hours mb-5 text-left mx-auto">

							<li class="list-unstyled-item list-hours-item d-flex">Username
								<span id="username" class="ml-auto"></span>
							</li>
							<li class="list-unstyled-item list-hours-item d-flex">Password
								<span id="password" class="ml-auto">***********</span>
							</li>
							<li class="list-unstyled-item list-hours-item d-flex">First
								Name <span id="firstName" class="ml-auto"></span>
							</li>
							<li class="list-unstyled-item list-hours-item d-flex">Last
								Name <span id="lastName" class="ml-auto"></span>
							</li>
							<li class="list-unstyled-item list-hours-item d-flex">Email
								<span id="email" class="ml-auto"></span>
							</li>
							<li class="list-unstyled-item list-hours-item d-flex">My
								Manager's ID <span id="manager" class="ml-auto"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>




</body>
<script src="scripts/getemployee.js"></script>
</html>
