<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Profile</title>



<script src="scripts/checkManager.js"></script>

<link rel="stylesheet" href="styles/login.css">

<!-- Bootstrap core CSS -->
<link href="styles/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link
	href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="styles/style.css" rel="stylesheet">
</head>
<body>


	<h1 class="site-heading text-center text-white d-none d-lg-block">
		<span class="site-heading-upper text-primary mb-3">Hello
			Employee!</span>
	</h1>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
		<div class="container">
			<a
				class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none"
				href="#">Info</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item px-lg-4"><a
						class="nav-link text-uppercase text-expanded" href="profile">Homepage</a>
						<span class="sr-only">(current)</span></li>
					<li id="employeesNav" style="display: none"
						class="nav-item px-lg-4"><a
						class="nav-link text-uppercase text-expanded"
						href="managersEmployees">Employees</a></li>
					<li class="nav-item px-lg-4"><a
						class="nav-link text-uppercase text-expanded"
						href="allReimbursements">My Reimbursements</a></li>
					<li class="nav-item active px-lg-4"><a
						class="nav-link text-uppercase text-expanded" href="reimbursement">New
							Reimbursement</a></li>
					<li id="registerNav" style="display: none" class="nav-item px-lg-4"><a
						class="nav-link text-uppercase text-expanded" href="register">Register</a></li>
					<li class="nav-item active px-lg-4"><a
						class="nav-link text-uppercase text-expanded" href="update">Update</a></li>
					<li class="nav-item px-lg-4"><a
						class="nav-link text-uppercase text-expanded" href="logout">Logout</a></li>

				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 mx-auto">
				<div class="card card-signin">
					<div class="card-body">
						<h5 class="card-title text-center">New Reimbursement Request</h5>
						<form class="form-signin" action="newRequest" method="post"
							enctype="multipart/form-data">
							<div class="form-group">
								<!-- Full Name -->
								<label for="description" class="control-label">Description</label>
								<input type="text" class="form-control" id="description"
									name="description" placeholder="Enter a description/type">
							</div>

							<div class="form-group">
								<!-- Value-->
								<label for="value" class="control-label">Value</label> <input
									type="number" min="0.00" max="10000.00" step="0.01"
									class="form-control" id="value" name="value"
									placeholder="#####">
							</div>
							<div class="text-center">
								<label for="inputFile" class="label">Receipt Image</label><br>
								<input type="file" onchange="previewFile()" id="inputFile"
									placeholder="File" name="file"> <img src=""
									height="200" alt="Image preview...">
							</div>


							<div class="form-group">
								<!-- Submit Button -->
								<button type="submit"
									class="btn btn-lg btn-primary btn-block text-uppercase">Submit!</button>
							</div>



						</form>
					</div>
				</div>
			</div>
		</div>
	</div>



</body>


<script src="scripts/postImage.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</html>